<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
        <header class="header_content">
            <h1 style="font-size: 2.5em;">Anshu's World</h1>
            <div class="header_smallcontents">
                <a class="anchor" href="/" style="color: white; font-weight:500; font-size:1.3em;">Home</a>
                <a class="anchor" href="/login" style="color: white; font-weight:500; font-size:1.3em;">Login</a>
                <a class="anchor" href="/register" style="color: white; font-weight:500; font-size:1.3em;">Register</a>
            </div>
    </header>
    <div class="header_display">
        <h1 style="     font-family: 'Edu AU VIC WA NT Hand', cursive;
  font-optical-sizing: auto;
  font-style: normal;font-size:3.5em;">Welcome to <span style="color:aqua">MERN </span> Stack Course</h1>
        <p>It is Most widely used course</p>
    </div>
</body>
</html>