<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
    {{>header}}
    <main class="main_content">
        <div class="display_div">
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <p style="margin-top: 15px;">It is a long established fact that a reader will be distracted by a readable content of a page when looking at its layout.</p>
            <button class="main_button" style="margin-top: 25px;">More</button>
        </div>
                <div class="display_div">
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <p style="margin-top: 15px;">It is a long established fact that a reader will be distracted by a readable content of a page when looking at its layout.</p>
            <button class="main_button" style="margin-top: 25px;">More</button>
        </div>
                <div class="display_div">
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <p style="margin-top: 15px;">It is a long established fact that a reader will be distracted by a readable content of a page when looking at its layout.</p>
            <button class="main_button" style="margin-top: 25px;">More</button>
        </div>
    </main>

       <footer>
        <div class="team-section">
            <h2>Meet Our Team</h2>
            <div class="team-container">
                <div class="team-member">
                    <img src="https://bussiness-app.s3.ap-south-1.amazonaws.com/images/users/user_pics/8029/original/WhatsApp_Image_2022-02-14_at_10.22.34.jpeg" alt="Team Member 1">
                    <h3>Jane Doe</h3>
                    <p>Project Manager</p>
                </div>
                <div class="team-member">
                    <img src="https://png.pngtree.com/png-clipart/20221101/ourmid/pngtree-passport-photo-cartoon-design-png-image_6405812.png" alt="Team Member 2">
                    <h3>John Smith</h3>
                    <p>Lead Developer</p>
                </div>
                <div class="team-member">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4Z-B8A9mnx7Nt5B7JMJ8zvrBGfYBOuA206g&s" alt="Team Member 3">
                    <h3>Emily Johnson</h3>
                    <p>UI/UX Designer</p>
                </div>
                <!-- Add more team members as needed -->
            </div>
        </div>
    </footer>
</body>
</html>